@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita+Swashed:wght@400;700;900&display=swap');

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

/* menu  */

.sidebar {
    background-color: rgb(236, 235, 234);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

div.content {
    background-color: rgb(255, 139, 30);
    margin-top: 0.3em;
    border-radius: 5px;
}


/* control panel  */
div.control-panel {
    background-color: rgba(240, 255, 255, 1.0);
    margin: 1em;
    padding: 0em;
    position: relative;
    float: center;
}

div.control-panel > div {
    margin: 0em;
    padding: 0.5em;
}
div.control-panel > btn-add {
    float: right;
}

/* control table  */
div.container-table {
    margin: 0.1em;
    padding: 0.1em;
}



.dlsadkfa{
    /* Цвет заднего плана */
    background-color: aliceblue;
    /* изображение заднего план */
    background-image: none;
    /* дублирование изображения заднего плана  repeat, repeat-x, repeat-y, no-repeat*/
    background-repeat: no-repeat;
    /* фиксация изображения заднего плана scroll fixex*/
    background-attachment: scroll;
    /* начальное положение изображения заднего плана*/
    background-position: 0px 0px;
}